<div class="topbar">
    <div class="header">
        <h1> Chris Manfredi Portfolio Site </h1>
    </div>
    <div class="navlinks">
        <li>
            <a href="http://www.google.com">Welcome</a>
        </li>
        <li>
            <a href="http://www.google.com">About Us</a>
        </li>
    </div>
</div>

<img src="/www/img/portfolio_banner.jpg" class="banner">

<div class="container">
    <h2> Welcome To My NodeJS Portfolio Site! </h2>
        <div class="section1">
            <h2> Efficitur Odio </h2>
            <p>
                Aenean dignissim lectus sed sodales finibus. Vivamus convallis purus vel lobortis porta. Fusce vitae dui mollis, ultrices mi eget, consectetur erat. Etiam vitae faucibus magna. Quisque est neque, tincidunt at nunc sit amet, fermentum iaculis tortor. Cras velit nisi, condimentum eu diam nec, feugiat egestas quam. Donec quis tincidunt libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam non dui elementum leo placerat dignissim non efficitur odio. Curabitur venenatis dolor ut fermentum tempus. consectetur erat. Etiam vitae faucibus magna. Quisque est neque, tincidunt at nunc sit amet, fermentum iaculis tortor. 
            </p>
        </div>
        <div class="section2">
            <h2> Euismod Nisi </h2>
            <p>
                   Nulla sollicitudin nisi non ante pharetra scelerisque. Curabitur ex enim, efficitur vel nisl eget, ornare cursus nisi. Aliquam varius nec quam quis dictum. Nam nec ligula nibh. Cras euismod tellus ut nibh efficitur, sit amet scelerisque diam luctus. Etiam eu euismod nisi, in luctus eros. Fusce ut imperdiet diam, eget dignissim dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. consectetur erat. Etiam vitae faucibus magna. Quisque est neque, tincidunt at nunc sit amet, fermentum iaculis tortor. 
            </p>
        </div>
        <div class="section3">
            <h2> Integer Eget </h2>
                <p>
                    Duis purus dui, accumsan in dapibus vel, aliquet at libero. Integer eget arcu ac nisl consectetur hendrerit vel sit amet dolor. Donec rhoncus eros mi, ac rutrum tellus aliquam et. Praesent ultrices tempus neque, et molestie mi faucibus nec. In hac habitasse platea dictumst. Etiam pulvinar est sed mi blandit, in cursus urna finibus. Quisque fringilla elit at ipsum molestie, eget efficitur purus porta. Integer quis enim et mi eleifend pulvinar eget sed quam. Quisque tincidunt erat interdum metus varius, quis fermentum neque fermentum. Morbi sit amet mi interdum, hendrerit nulla sit amet, volutpat urna. Integer faucibus lorem lectus.
                </p>
        </div>
</div>

   <img src="/www/img/photo.jpg" class="photo">


<div class="aboutme">
<div class="section4"> 
    <h1> Lorum Ipsum </h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur felis ut sapien consequat convallis. Donec lacinia leo sit amet nisi tincidunt ullamcorper. Duis vel venenatis odio. Cras id volutpat lorem. Cras at leo leo. Nullam suscipit ligula mauris, vitae condimentum diam laoreet nec. Vivamus vulputate nisl turpis, vel interdum sapien gravida vulputate. Vestibulum eget accumsan sem, vel fringilla arcu. Quisque condimentum interdum ullamcorper. Suspendisse rhoncus massa vel erat dignissim sodales
    </p>
</div>

<div class="section5"> 
    <h1> Lorum Ipsum </h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur felis ut sapien consequat convallis. Donec lacinia leo sit amet nisi tincidunt ullamcorper. Duis vel venenatis odio. Cras id volutpat lorem. Cras at leo leo. Nullam suscipit ligula mauris, vitae condimentum diam laoreet nec. Vivamus vulputate nisl turpis, vel interdum sapien gravida vulputate. Vestibulum eget accumsan sem, vel fringilla arcu. Quisque condimentum interdum ullamcorper. Suspendisse rhoncus massa vel erat dignissim sodales
    </p>
</div>
</div>


<div class="projects">
    <h1>Project 1</p>
        <bold><p>Name:</bold> Cage The Great</p>
        <a href="http://www.cagethegreatmusic.com">www.cagethegreat.com</a>
</div>

<div class="projects">
    <h1>Project 2</p>
        <bold><p>Name:</bold> IMT Lease Abstracts</p>
        <a href="http://www.imtleaseabstracts.com">www.imtleaseabstracts.com</a>
</div>

<div class="projects">
    <h1>Project 3</p>
        <bold><p>Name:</bold> IMT Lease Abstracts</p>
        <a href="http://www.imtleaseabstracts.com">www.imtleaseabstracts.com</a>
</div>

<div class="projects">
    <h1>Project 4</p>
        <bold><p>Name:</bold> IMT Lease Abstracts</p>
        <a href="http://www.imtleaseabstracts.com">www.imtleaseabstracts.com</a>
</div>

<div class="projects">
    <h1>Project 5</p>
        <bold><p>Name:</bold> IMT Lease Abstracts</p>
        <a href="http://www.imtleaseabstracts.com">www.imtleaseabstracts.com</a>
</div>



