@import 'jeet' 

body
	background #3A393E

h1 
	color white
	text-align center
	font-family 'Lora', serif
h2
	color white
	text-align center
	font-family 'Lora', serif

h4 
	color white
	text-align center
	font-family 'Lora', serif


.topbar
	col(3/3)
	background-color black
	width 100%
	position fixed
	top 0
	left 0

.header
	text-decoration none
	col(2/3)
	color white
	text-align center

.navlinks
	col(1/3)
	margin-top 2%

.navlinks a
	color white
	text-decoration none
	font-size 1.3em
	padding-left 20%

.container
	col(3/3)

.section1
	col(1/3)

.section2
	col(1/3)

.section3
	col(1/3)

.aboutme
	(2/2)

.section4
	col(1/2)
	padding 5% 0 5% 0

.section5
	col(1/2)
	padding 5% 0 5% 0


.projects
	col(2/2)
	border: 1px solid white;
	background-color: #1d1d1d;
	border-radius: 10px;
	width 80%
	margin 1% 0 1% 10%

.main
	col(2/4)
	transition all .5s ease

	*below(600px)
		stack()

.photo
	margin-left 40%
	padding 5% 0 5% 0
	width 20%
	height 20%

.banner
	width 100%
	margin-top 5%

p
	color white

a 
	color white

li
	list-style none
	display inline







